<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <link rel="icon" type="image/png" href="static/images/icons/favicon.ico"/>
    <title>Arab Coders</title>
</head>
<body>
<h1>One Million Arab Coders Forums</h1>

<ul>
    <li><a href="/members">Members</a></li>
    <li><a href="#">Profile</a></li>
    <li><a href="#">About</a></li>
    <li><a href="/contact">Contact</a></li>
</ul>
<br>
<button class="btn btn-lg"><a href = "/add_post">Create New post</a></button>
<br><br>
<table>
    <col width="80%">
    <col width="10%">
    <col width="10%">
  <tr>
    <th class="title">Title</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  {% for post in posts %}
    <tr>
        <td>{{post.title}}</td>
        <td><a href="#">Edit</a></td>
        <td><a href="{{post.delete}}">Delete</a></td>
    </tr>
    {% endfor %}
</table>
</body>
</html>
