<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
  <title>Title</title>
</head>
<body>
  <h1>One Million Arab Coders Forums</h1>

  <ul>
      <li><a href="/members">Members</a></li>
      <li><a href="#">Profile</a></li>
      <li><a href="#">About</a></li>
      <li><a href="/contact">Contact</a></li>
  </ul>
  <br>
  <button class="btn btn-lg"><a href = "/add_post">Create New post</a></button>
  <br><br>
  <table>
      <col width="80%">
      <col width="10%">
      <col width="10%">
    <tr>
      <th class="title">Member</th>
      <th>Age</th>
      <th>Posts</th>
    </tr>
    {% for member in members %}
      <tr>
          <td>{{member.name}}</td>
          <td>{{member.age}}</td>
          <td><a href="/member.posts">View</a></td>
      </tr>
      {% endfor %}
  </table>
  </body>
  </html>
</body>
</html>
